<template>
    <div id="app">
    <SideBarTeacher/>
        <div class="container p-0 m-0">
            <div class="row h-100 align-items-center p-0 m-0">
                    
                    <div class="row justify-content-center d-flex studtable-container">
                        <h1 class="text-center mt-5">Student List</h1>
                            
                            <div class="col-12 h-100 p-5 m-0">
                                <form class="form-inline my-2 my-lg-0 justify-content-end mb-3">
                                    <input class="form-control mr-sm-2 mb-3" type="search" id="basic-addon1" aria-describedby="basic-addon1" placeholder="Search" aria-label="Search">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text mb-3" id="basic-addon1">Search</span>
                                    </div>
                                </form>
                                <table class="table table-hover border">
                                    <thead class="head thead-primary">
                                        <tr>
                                            <th scope="col">Student ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Year Level</th>
                                            <th scope="col">OJT Hours</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1200399</td>
                                            <td>Danica Jones</td>
                                            <td>4th Year</td>
                                            <td ><p><a type="button" data-toggle="modal" @click="$bvModal.show('editModal')">80 Hours</a></p></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                    </div>
            </div>
        </div>

        <!-- editModal -->
        <b-modal id="editModal" title="Edit OJT Hours">
            <template>
                <div class="form-group">
                    <label>Hours</label>
                    <input type="text"  class="form-control" id="name" placeholder="">
                </div>
            </template>
            <template #modal-footer="{ok, cancel}">
                <b-button size="sm" variant="danger" @click="cancel()">
                    Cancel
                </b-button>
                <b-button size="sm" variant="primary" @click="ok()">
                    Update
                </b-button>
            </template>
        </b-modal>
    </div>
</template>
<script>
import SideBarTeacher from "@/components/navigations/SidebarTeacher";
export default {
    components: { SideBarTeacher }
}
</script>

<style>
.studtable-container{
    position: absolute;
    top: 5%;
    left: 30%;
    
}


.text-inform{
    font-size: 1.8rem;
}

.container-fluid{
    overflow: hidden;
}
</style>